mat-grid-tile {
  background: lightblue;
}

.quadro {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  width: 300px;
  margin-bottom: 20px;
}

.quadro div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #bbb;
  font-size: 48px;
  cursor: pointer;
}

button{
  font-size: 18px;
  padding: 10px 20px;
}
